<nz-layout class="app-layout" >
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzReverseArrow]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <div>
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>转推工会</h1>
      </div>
    </div>
    <span *ngIf="!isCollapsed" class="greeting" nz-typography>{{getLocalTimeGreeting()}}, {{username | slice:0:9}}</span>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngIf="!isWholePageLinkActive">
      <li nz-submenu nzOpen nzTitle="面板" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">首页</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="推特用户" nzIcon="twitter">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tracker/manage">追踪管理</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="转推组" nzIcon="retweet">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/rtgroup/group/manage">组管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/rtgroup/user/manage">人员管理</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="WebHook HTTP钩子" nzIcon="node-expand">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/webhook/manage">钩子管理</a>
          </li>
        </ul>
      </li>

      <li nz-menu-item (click)="onLogout()" >
        <i nz-icon nzType="poweroff" nzTheme="outline" style="color: orangered"></i>
        <a *ngIf="!isCollapsed" >注销</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
