<h3>Twitter追踪管理</h3>
<nz-alert *ngIf="alertText !== ''" nzBanner nzType="error" style="margin-bottom: 12px" [nzMessage]="alertText" nzCloseable></nz-alert>

<nz-skeleton [nzActive]="true" *ngIf="trackerList === null || isOkLoading" ></nz-skeleton>

<nz-list nzBordered *ngIf="trackerList !== null">
  <nz-list-item *ngFor="let tracker of trackerList">
    <nz-list-item-meta
      [nzAvatar]="getTwitterAvatar(tracker.uid)"
      [nzDescription]="'@'+ tracker.displayName"
    >
      <nz-list-item-meta-title>{{tracker.nickname}}</nz-list-item-meta-title>
    </nz-list-item-meta>
    在组: {{tracker.groups.length}}, Q群推送: {{tracker.qqGroups.length}}
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <button [disabled]="isOkLoading" nz-button style="color: red"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</button>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
</nz-list>
