<nz-alert *ngIf="alertText !== ''" nzBanner nzType="error" style="margin-bottom: 12px" [nzMessage]="alertText" nzCloseable></nz-alert>

<nz-skeleton [nzActive]="true" *ngIf="isStatusLoading" ></nz-skeleton>

<div *ngIf="!isStatusLoading">
  <h1>现在Worker状态： <span>{{workerStatus}}</span></h1>

  <div>
    <button
      nz-button
      nzType="danger"
      (click)="onKill()"
      [disabled]="workerStatus !== 'RUNNING'"
    >停止</button>
    <button
      nz-button
      nzType="default"
      [disabled]="workerStatus === 'RUNNING'"
      (click)="onStart()"
    >启动</button>
    <button
      nz-button
      nzType="primary"
      [disabled]="workerStatus !== 'UNKNOWN'"
      (click)="onRefresh()">刷新</button>
  </div>
</div>

